<div class="card-columns">
  <div class="card" *ngFor="let usuario of usuarios; ">
    <img class="card-img-top" [src]="usuario.avatar" [alt]="usuario.first_name">
    <div class="card-body">
      <h5 class="card-title">{{usuario.last_name}}, {{usuario.first_name}}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This
        content is a little bit longer.</p>
      <small class="text-muted">ID: {{usuario.id}}</small>
      <!-- <blockquote class="blockquote mb-0 card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote> -->
    </div>
  </div>
</div>
